<section *ngIf="step1" class="w-50 mx-auto p-3 rounded bg-main-light shadow mt-3">
  <!-- <p class="text-center text-info fs-5">{{iinfo}}</p> -->

  <!-- <h6 class="text-danger">{{responseMsg}}</h6> -->
  <form [formGroup]="forgetForm" (ngSubmit)="forgotPassword()">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Your Email">
    <!-- <p>Enter vaid Email</p> -->
    <p class="validation text-danger" *ngIf="forgetForm.get('email')?.getError('email')">Enter vaid Email</p>
    <button class="main-btn w-100 mt-3"> Submit</button>
    <p *ngIf="responseMsg" class="alert alert-danger w-100 mx-auto p-1 mb-0 mt-2 text-center"> {{responseMsg}} </p>
  </form>
</section>

<section *ngIf="step2" class="w-50 mx-auto p-3 rounded bg-main-light shadow mt-3">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="resetCode">Reset Code</label>
    <input formControlName="resetCode" type="text" class="form-control" id="resetCode"
      placeholder="Enter Your Reset Code">
    <button class="main-btn w-100 mt-3"> Reset Code</button>
    <p *ngIf="responseMsg" class="alert alert-danger w-100 mx-auto p-1 mb-0 mt-2 text-center"> {{responseMsg}} </p>
  </form>
</section>
<!-- *ngIf="step3" -->
<section *ngIf="step3" class="w-50 mx-auto p-3 rounded bg-main-light shadow mt-3">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="newPassword()" class="position-relative">
    <label for="newPassword">New Password</label>
    <div class="position-relative">
      <input formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" class="form-control"
        id="newPassword" placeholder="Enter Your New Password" />
      <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"
        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; color: #6c757d;"></i>
    </div>
    <p class="validation text-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">
      Password must have capital letter, a lowercase letter, a special character, and numbers
    </p>
    <button class="main-btn w-100 mt-3">New Password</button>
    <p *ngIf="responseMsg" class="alert alert-danger w-100 mx-auto p-1 mb-0 mt-2 text-center">
      {{ responseMsg }}
    </p>
  </form>
</section>
