<section *ngIf="categoryDetails._id" class=" mx-auto shadow rounded w-75 bg-main-light p-3 my-2">
  <div class="row g-4 align-items-center">
    <div class="col-md-6">
      <img class="w-100" [src]="categoryDetails.image" [alt]="categoryDetails.name">
    </div>
    <div class="col-md-6">
      <h2>{{categoryDetails.name}}</h2>
    </div>
  </div>
</section>

<section class="container fs-5 text-muted">
  <h2 class="text-center text-info m-4">About</h2>
 <p>Welcome to E-commerce, your one-stop destination for all your shopping needs! Explore an extensive range of products carefully curated to cater to your diverse tastes and preferences.

 At E-commerce , we believe in delivering an unparalleled shopping experience, characterized by convenience, quality, and affordability. Whether you're looking for the latest fashion trends, must-have gadgets, home essentials, or unique gifts, we've got you covered.
</p>

<br>
<p>Why shop with us?</p>
<br>
<p>Wide Selection: Browse through a vast array of products across multiple categories, ensuring that you find exactly what you're looking for.</p>
<p>Quality Assurance: We partner with trusted brands and suppliers to offer products that meet the highest standards of quality and durability.</p>
<p>Competitive Prices: Enjoy competitive pricing on all our products, along with regular discounts and special offers to help you save more.</p>
<p>Convenient Shopping: Our user-friendly interface and secure payment gateway make shopping online a breeze. With just a few clicks, you can place your order and have it delivered straight to your doorstep.</p>
<p>Customer Satisfaction: Your satisfaction is our top priority. Our dedicated customer support team is always ready to assist you with any queries or concerns you may have.</p>
<p>Fast Shipping: We understand the importance of timely delivery. That's why we strive to process and dispatch your orders swiftly, ensuring that you receive them in a timely manner.</p>
<p>Discover the joy of hassle-free shopping at [Your E-commerce Website Name]. Start exploring our collection today and experience the convenience of online shopping like never before!.</p>


</section>
